@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Lemon&display=swap");


body {
  font-family: "Codystar", cursive;
  font-family: "Lemon", cursive;
}

.pressbutton {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;


  background: rgb(68, 188, 201);
  color: rgb(4, 0, 0);
  border-radius: 0px;
  border: solid 2px rgb(222, 141, 141);
  font-family: "Lemon", cursive;
  border-radius: 10px;
}

.pressbutton:hover {
  background: #80c9b2;
}

h2 {
  padding: 20px;
  color: rgb(3, 25, 41);
  text-align: center;
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;

  font-size: 2em;
  font-weight: 700;
  color: #240845;
  text-shadow: 1px 1px 1px #b82020, 1px 2px 1px #672b2b, 1px 3px 1px #391c1c,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #934141,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #6d3535,
    1px 10px 1px #744242, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

