@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Lemon&display=swap");


body {
  font-family: "Codystar", cursive;
  font-family: "Lemon", cursive;
}

.pressbutton {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;


  background: rgb(68, 188, 201);
  color: rgb(4, 0, 0);
  border-radius: 0px;
  border: solid 2px rgb(222, 141, 141);
  font-family: "Lemon", cursive;
  border-radius: 10px;
}

.pressbutton:hover {
  background: #80c9b2;
}

